.header-wrapper {
    text-transform: capitalize;
    width: calc(100% - 20px);
    margin: 0 10px;
}
.header-wrapper h1{
    font-weight: 500;
    font-size: 24px;
    margin: 10px 0;
}
.header-wrapper h2{
    font-weight: 500;
    font-size: 16px;
    margin: 2px 0;
}