.selected-summary-wrapper {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.selected-summary-left-wrapper, .selected-summary-right-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
}
.selected-summary-left-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.selected-summary-right-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
}
.selected-summary-right-item {
    margin-bottom: 5px;
}
.selected-summary-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.selected-summary-temperature {
    font-size: 80px;
    line-height: 80px;
}
.unit-switcher-wrapper {
    transform: translateY(0px);
}
.unit-switcher-button-inactive, .unit-switcher-button-active{

}
.unit-switcher-button-inactive {
    color: rgba(0,0,0,0.3);
    cursor: pointer;
}
.unit-switcher-button-active {
    color: black;
    cursor: auto;
}
@media screen and (max-width: 500px) {
    .selected-summary-temperature {
        font-size: 40px;
        line-height: 40px;
    }
    .selected-summary-icon {
        width: 40px;
        height: 40px;
    }
    .unit-switcher-button-inactive, .unit-switcher-button-active {
        font-size: 12px;
    }
    .selected-summary-right-item {
        font-size: 10px;
        margin-bottom: 1px;
    }
}